body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input[type='email']:focus:not([readonly]),
input[type='password']:focus:not([readonly]),
input[type='text']:focus:not([readonly]) {
    border-bottom: 1px solid #a6c !important;
    box-shadow: 0 1px 0 0 #a6c !important;
}

input[type='email']:focus:not([readonly]) + label,
input[type='password']:focus:not([readonly]) + label,
input[type='text']:focus:not([readonly]) + label,
i.active {
    color: #a6c !important;
}
